// VARIABLES //
$colorBrown: rgb(102, 44, 8);
$colorOrange: rgb(231, 95, 9);


a {
    text-decoration: none;
}

/* NavBar design */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(27, 11, 1);
    opacity: 70%;
}
  
nav li {
    float: left;
}


nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.fas.fa-map-marker {
    color: $colorOrange;
}

li.navbar-item a:hover {
    background-color: $colorOrange;
}

/* Card */
.card-container {
    display: inline-block;
    margin-top: 1em;
    margin-left: 2em;
    flex: 1 1 auto;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgb(134, 125, 115);
    border-radius: 15px;
    box-shadow: 3px 6px 0 rgb(0 0 0 / 10%);
}

.camping-item-image img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    flex-shrink: 0;
    width: 300px;
    height: 200px;
}

.card-title {
    display:inline-block;
    margin-bottom: 0px;
    max-width: 19em;
}

.card-title a {
    color:#000;
    width:100%;
    font-size: 20px;
    line-height: 0.1;
}

.information-button .btn {
    display:inline-block;
    text-align: center;
    vertical-align: middle;
    color:#fff;
    background-color: $colorOrange;
    width: 90%;
    font-size: 16px;
    margin: 2%;
    padding: 1% 3%;
}

ul {
    padding-left: 0%;
}

.card-body li a, .information-text a {
    color: $colorOrange;
}

.information-text {
    text-align: center;
}

li {
    display: inline-block;
    position: relative;
}

.title li {
    font-size: 18px;
}

.fas.fa-circle {
    color: $colorOrange;
    font-size: 8px;
}

.fas.fa-star {
    color:rgb(231, 198, 9);
}

.far.fa-heart {
    color: #fff;
    font-size: 30px;
}

.heart-button {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 4px;
    z-index: 8;
}

.edit-button {
    position: absolute;
    top: 0.5em;
    left: 5px;
    padding: 4px;
    z-index: 8;
}

.delete-button {
    position: absolute;
    top: 3em;
    left: 5px;
    padding: 4px;
    z-index: 8;
}

.card-body {
    padding: 0 1.25rem 0.25rem 1.25rem ;
}

.reviews {
    text-align: center;
}
.number-review>.camping-rating {
    color: rgb(27, 19, 11);
    font-size: 18px;
    font-weight: 800;
}

/* side card */
.aside-card-container {
    display: inline-block;
    margin-top: 1em;
    margin-left: 1em;
    flex: 1 1 auto;
    width: 90%;
    height: 150px;
}

.aside-card {
    display: flex;
    justify-content: flex-start;
    position: relative;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
}

.aside-card:hover {
   background-color: rgba(102, 44, 8, 0.1);
   border-radius: 15px;
}

.aside-card .aside-camping-item-image img {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    flex-shrink: 0;
    width: 200px;
    height: 150px;
}

.aside-card .card-body .reviews {
    padding-bottom: 8px;
}

.tags span {
    border-radius: 5px;
    background-color: #63534a;
    color: #fff;
    margin-right: 0.5rem; 
    padding: 0.25rem;
}

/* hover */
.btn:hover {
    background-color: $colorBrown;
}
.information-text a:hover {
    color: $colorBrown;
}
.card-title a:hover {
    color: $colorBrown;   
}
.far.fa-heart:hover,
.fas.fa-pen-square:hover, 
.fas.fa-trash-alt:hover,
.fas.fa-plus-circle:hover  {
    color: $colorBrown;    
}
/* end hover*/

// Layout
.flex-container {
    display: flex;
    flex-wrap: wrap;
}
  
.main-content {
    flex: 60%;
}

.aside-content {
    flex: 40%;
    margin-top: 3em;
}

//Form
h2 {
    color: $colorBrown;
    margin: 0.5em 0 0.5em 0;
    display: inline-block;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

//Header

.camping-header h2 {
    display: inline-block;
}

.fas.fa-plus-circle {
    font-size: 2em;
    color: $colorOrange;
}

.fas.fa-pen-square, .fas.fa-trash-alt {
    font-size: 2em;
    color: #fff;
}

//Show
p.campsite-description {
    font-size: 20px;
    padding-right: 40%;
}

img.image.image-full {
    width: 31em;
}

//Pagination

nav.flex.items-center.justify-between {
    margin-top: 2em;
}

//RATINGS
$star-color-default: #ccc !default;
$star-color-active : #feca02 !default;

$star-space-default: 4px !default;
$star-space-large  : $star-space-default * 2 !default; //8px

$star-size-default : 16px !default;
$star-size-large   : $star-size-default + $star-space-large !default; //24px

$star-font-default : 24px !default;
$star-font-large   : $star-font-default + $star-space-large !default; //32px

@mixin square($size) {
  height: $size;
  width: $size;
}

@mixin star($size,$space,$color,$font) {
  @include square($size);
  color: $color;
  font-size: $font;
  line-height: $size;
  margin-right: $space;
  text-align: center;
}
@mixin starSize($size,$space,$font){
  @include square($size);
  font-size: $font;
  margin-right: $space;
}

// Initial rating setup
.rating {
  font-size: 0;
  &:after {
    content:" ";
    clear:both;
    display:block;
  }
}

// Rating input, label setup
.rating {
  input {
    display: none;
  }  
  &-label {
    @include star($star-size-default,$star-space-default,$star-color-default,$star-font-default);
    display: inline-block;
  }
}

// Muttable rating stars
.rating {
  &[dir="rtl"] {
   unicode-bidi:bidi-override; 
    > input {
      &:checked {
         ~ .rating-label { 
           font-size: 0;
           &:before {
             content: "\2605";
             color: $star-color-active;
           }
         } 
      }   
    }    
  }  
}

// Immutable rating stars
.rating {
  &-label {
    &.is-active {
     color: $star-color-active; 
    }
  }
}

// Rating stars sizes
.rating {
  &-large {
    .rating-label {
      @include starSize($star-size-large,$star-space-large,$star-font-large);
      &:before {
        font-size: $star-font-large;
      }
    }
  }
}

.rating.rating-large {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
}

div#wrapper {
    margin-left: 2em;
}

.review-for-users {
    border: 4px solid $colorBrown;
    width: 41em;
    height: 11em;
    border-radius: 15px;
    h4 {
        text-align: center;
    }
    .rating.rating-large {
        justify-content: center;
    }
    .rating-large .rating-label {
        font-size: 50px;
        width: 50px;
    }

    .rating[dir=rtl] > input:checked ~ .rating-label:before {
        font-size: 50px;
    }
}

div.submit-review input[type=submit] {
    width: 21%;
    margin: 1em 19.5em;
    background-color: $colorBrown;
    &:hover {
        background-color: $colorOrange;
    }
}

//Tags

div.tags a {
    color: $colorBrown;
    border: 1px solid $colorBrown;
    border-radius: 5px;
    padding: 1px;
    margin: 1px;
    text-decoration: none;
    font-size: 10px;
    &:hover {
        background-color: rgba(102, 44, 8, 0.1);
    }
}

li .show-tags {
    color: $colorBrown;
    border: 1px solid $colorBrown;
    border-radius: 5px;
    padding: 2px;
    margin-left: 1em;
    text-decoration: none;
    font-size: 14px;
    &:hover {
        background-color: rgba(102, 44, 8, 0.1);
    }
}
