// VARIABLES //
$colorBrown: rgb(102, 44, 8);
$colorOrange: rgb(231, 95, 9);




a {
    text-decoration: none;
}

/* NavBar design */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(27, 11, 1);
    opacity: 70%;
}
  
nav li {
float: left;
}


nav li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

.fas.fa-map-marker {
    color: $colorOrange;
}

li.navbar-item a:hover {
background-color: $colorOrange;
}

/* Card */
.card-container {
    display: inline-block;
    margin-top: 1em;
    margin-left: 1em;
    flex: 1 1 auto;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgb(134, 125, 115);
    border-radius: 15px;
    box-shadow: 3px 6px 0 rgb(0 0 0 / 10%);
}

.camping-item-image img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    flex-shrink: 0;
    width: 300px;
    height: 200px;
}

.card-title {
    display:inline-block;
    margin-bottom: 0px;
}

.card-title a {
    color:#000;
    width:100%;
    font-size: 20px;
    line-height: 0.1;
}

.information-button .btn {
    display:inline-block;
    text-align: center;
    vertical-align: middle;
    color:#fff;
    background-color: $colorOrange;
    width: 90%;
    font-size: 16px;
    margin: 2%;
    padding: 1% 3%;
}

ul {
    padding-left: 0%;
}

.card-body li a, .information-text a {
    color: $colorOrange;
}

.information-text {
    text-align: center;
}

li {
    display: inline-block;
    position: relative;
}

.title li {
    font-size: 18px;
}

.fas.fa-circle {
    color: $colorOrange;
    font-size: 8px;
}

.fas.fa-star {
    color:rgb(231, 198, 9);
}

.far.fa-heart {
    color: #fff;
    font-size: 30px;
}

.heart-button {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 4px;
    z-index: 8;
}

.card-body {
    padding: 0 1.25rem 1.25rem 1.25rem ;
}

.reviews {
    text-align: center;
}
.number-review .rating {
    color: rgb(27, 19, 11);
    font-size: 18px;
    font-weight: 800;
}

/* hover */
.btn:hover {
    background-color: $colorBrown;
}
.information-text a:hover {
    color: $colorBrown;
}
.card-title a:hover {
    color: $colorBrown;   
}
.far.fa-heart:hover {
    color: $colorBrown;    
}
/* end hover*/